.navbar {
  background-color: bisque;
}

.navbar .navbar-brand img {
  width: 50px;
  border-radius: 50%;
  background-color: black;
}

.navbar .navbar-active {
  font-weight: bold;
  text-decoration: underline;
}

/* navbar loader */
.loader {
  margin: 10px auto;
  text-align: center;
}
