<!-- Bio starts -->
<section class="bio m-5">
  <div class="container">
    <img
      src="/assets/images/burger-art.png"
      alt="shop-image"
      class="img-fluid me-5 mb-4"
    />
    <h6 class="bio-text">
      Welcome to MOS Burgers! We are your locally-owned, go-to spot for
      delicious burgers, submarines, and soft drinks, proudly serving our
      community with love and flavor. At MOS Burgers, we believe in making every
      dining experience special. That's why we offer a variety of promotional
      deals and discounts to add a little extra joy to your meal. Whether you're
      craving juicy burgers, hearty submarines, savory pasta, crispy fries, or
      refreshing beverages, we've got something to satisfy every taste bud. Come
      on in and enjoy the warm, friendly atmosphere and the unbeatable flavors
      we’re known for.
    </h6>
  </div>
</section>
<!-- Bio ends -->

<!-- Carousel Starts -->
<section class="carousel-section">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="2000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/images/burger.jpg"
          class="img-fluid d-block w-100"
          alt="burger"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/images/submarine.jpg"
          class="img-fluid d-block w-100"
          alt="submarine"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/images/fries.jpg"
          class="img-fluid d-block w-100"
          alt="fries"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/images/pasta.jpg"
          class="img-fluid d-block w-100"
          alt="pasta"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/images/beverages.jpg"
          class="img-fluid d-block w-100"
          alt="beverages"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Carousel Ends -->

<!-- Feedback starts -->
<section class="feedback m-4">
  <div class="container mt-5 mb-4 text-center">
    <div class="row">
      <h1>Feedback Form</h1>
    </div>
  </div>
  <p class="text-center">Reach out to us 😊</p>
  <form action="mailto:sonnymad33@gmail.com">
    <div class="mb-3">
      <input
        type="text"
        name="subject"
        class="form-control"
        id="nameTextInput"
        aria-describedby="nameHelp"
        placeholder="Your name..."
      />
    </div>
    <div class="mb-3">
      <textarea
        class="form-control"
        name="body"
        rows="3"
        placeholder="Your feedback..."
      ></textarea>
    </div>
    <div class="submit-btn">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</section>

<!-- Feedback ends -->
